$color-text: #4b3e92;
$color-border: #7A6CD1;


.MainMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logoContainer {
    width: 100%;
    height: 100%;
    max-width: 600px;
    align-self: center;

    > img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__container {
    min-height: 200px;
    margin-top: 20px;
    padding: 20px 0;
    border: 5px $color-border solid;
    border-radius: 10px;
    //background: #F4A3A8;
  }

  // server status section

  &__serverStatusContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  &__serverStatusIcon {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    border-radius: 50%;
    display: inline-block;
    color: $color-text;

    &--connected {
      background: #1ba120;
    }

    &--disconnected {
      background: #d43c3c;
    }
  }

  // username section

  &__usernameContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 0;
    font-size: 36px;
    font-weight: bold;
    color: $color-text;
  }

  &__username {
    min-width: 200px;
    min-height: 30px;
    margin-left: 20px;
    padding: 3px 10px;

    border: 3px $color-border solid;
    border-radius: 5px;
    background: #ded8ff;

    &:focus {
      outline: none;
    }
  }

  // join button section

  &__joinServer {
    margin: 50px auto 0;
    padding: 20px;
    width: 500px;
    justify-content: center;
    background: #ffb0b7;
    color: $color-text;
    border: 5px $color-border solid;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background: #F4A3A8;
    }
  }

}
